<header class="header">
  <h1 class="header-title">
  	<a href="/">
  		<img src="assets/img/logoAgileBrazil.png" alt="Logo da Agile Brazil">
  	</a>
  </h1>

  <h2 class="header-subtitle">{{t "conference.dates"}}</h2>
  <h3 class="header-helpText">{{t "conference.place"}}</h3>

  <a href="{{t "conference.callToAction-url"}}" class="buttonAction">{{t "conference.callToAction"}}</a>
  <h3 class="header-helpText" style="margin: 1.5em 0 0 0;">{{ t "registration.soon"}}</h3>
</header>
