<section class="keynotes">
	{{#each homePt.keynotes}}
	<dl class="keynotes-speaker">
		<dd class="keynotes-speaker-photo">
			<img src="assets/img/keynotes/{{photo}}" alt="{{name}}">
		</dd>
		<dt class="keynotes-speaker-title">{{name}}</dt>
		<dd class="keynotes-speaker-subtitle">Keynote Speaker</dd>
		<dd class="keynotes-speaker-description">{{miniBio}}</dd>
		<dd>
			<a class="buttonAction" href="{{callToAction-url}}">{{callToAction}}</a>
		</dd>
	</dl>
	{{/each}}
</section>

<section class="program">
	<h1 class="program-title">{{homePt.program.title}}</h1>
	<p class="program-description">{{homePt.program.description}}</p>
	<a href="{{homePt.program.callToAction-url}}" class="buttonAction">{{homePt.program.callToAction}}</a>
</section>

<section class="place">
	<h1 class="place-title">{{homePt.place.title}}</h1>
	<p class="place-description">{{homePt.place.description}}</p>
	<a href="{{homePt.place.callToAction-url}}" class="buttonAction">{{homePt.place.callToAction}}</a>
</section>

<section class="sponsorship">
	<h1 class="sponsorship-title">{{homePt.sponsorship.title}}</h1>
	<p class="sponsorship-description">{{homePt.sponsorship.description}}</p>
	<a href="{{homePt.sponsorship.callToAction-url}}" class="buttonAction">{{homePt.sponsorship.callToAction}}</a>
</section>