<section class="keynotes">
	<h1 class="keynotes-title">{{t "keynotes.title"}}</h1>
	{{#each data.keynotes.speakers}}
	<dl class="keynotes-speakers">
		<dd class="keynotes-speakers-photo">
			<img src="assets/img/keynotes/{{photo}}" alt="{{name}}">
		</dd>
		<dt class="keynotes-speakers-title">{{name}}</dt>
		<dd class="keynotes-speakers-subtitle">Keynote Speaker</dd>
		<dd class="keynotes-speakers-description">{{miniBio}}</dd>
		<!--<dd>
			<a class="buttonAction" href="{{callToAction-url}}">{{callToAction}}</a>
		</dd>-->
	</dl>
	{{/each}}
</section>

<section class="program">
	<h1 class="program-title">{{t "program.title"}}</h1>
	<p class="program-description">{{t "program.description"}}</p>
	<!--<a href="{{t "program.callToAction-url"}}" class="buttonAction">{{t "program.callToAction"}}</a>-->
</section>

<section class="wrap-supporter">
	<h1 class="supporter-title">{{t "sponsorship.support"}}</h1>
	<ul class="supporter">
		<li class="supporter-item first">
			<img src="assets/img/supporter/logoAgilidadeRecife.jpg" alt="Logo da Agilidade Recife">
		</li>
		<li class="supporter-item second">
			<img src="assets/img/supporter/logoRcvb.jpg" alt="Logo do Recife Convetion & Visitors Bureau">
		</li>
		<li class="supporter-item third">
			<img src="assets/img/supporter/logoSbc.png" alt="Logo do Sociedade Brasileira de Computação">
		</li>
		<li class="supporter-item fourth">
			<img src="assets/img/supporter/logoCinUfpe.jpg" alt="Logo do Centro de Informática UFPE">
		</li>
		<li class="supporter-item fifth">
			<img src="assets/img/supporter/logoPortoDigital.jpg" alt="Logo do Porto Digital">
		</li>
		<li class="supporter-item sixth">
			<img src="assets/img/supporter/logoSoftexRecife.jpg" alt="Logo da SoftexRecife">
		</li>
		<li class="supporter-item last">
			<img src="assets/img/supporter/logoDeinfo.jpg" alt="Logo do Departamento de Estática e Matemática UFRPE">
		</li>
	</ul>
</section>

<section class="sponsorship">
	<h1 class="sponsorship-title">{{t "sponsorship.title"}}</h1>
	<p class="sponsorship-description">{{t "sponsorship.description"}}</p>
	<a href="{{t "sponsorship.callToAction-url"}}" class="buttonAction">{{t "sponsorship.callToAction"}}</a>
</section>