<section class="keynotes">
	{{#each homePt.keynotes}}
	<dl class="keynotes-speaker">
		<dd class="keynotes-speaker-photo">
			<img src="assets/img/keynotes/{{photo}}" alt="{{name}}">
		</dd>
		<dt class="keynotes-speaker-title">{{name}}</dt>
		<dd class="keynotes-speaker-subtitle">Keynote Speaker</dd>
		<dd class="keynotes-speaker-description">{{miniBio}}</dd>
		<dd class="keynotes-speaker-action">
			<a href="{{callToAction-url}}">{{callToAction}}</a>
		</dd>
	</dl>
	{{/each}}
</section>